# Next.jsのビルドアーティファクト
/.next/
/out/
/build/

# 依存関係のディレクトリ
/node_modules/
/.pnp
.pnp.js

# ビルド時に生成されるファイル
.next/cache

# 環境設定ファイル
.env.local
.env.development.local
.env.test.local
.env.production.local

# ログファイル
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# エディタの設定ファイルとディレクトリ
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OSの生成ファイル
.DS_Store
Thumbs.db

# インストール時に生成されるファイル
yarn.lock
