@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}
/* CSS */
td[data-column="1"]:hover,
td[data-column="2"]:hover,
td[data-column="3"]:hover {
  background-color: #f3f4f6; /* ホバー時の背景色 */
}
